.team {
  // display: none;
  margin-bottom: 133px;
  &__row {
    display: flex;
  }

  &__body {
    max-width: 500px;
    margin-left: 22px;
  }

  &__our {
    padding-top: 76px;
    margin-bottom: 15px;
  }

  &__title {
    line-height: 62px;
    color: #56597a;
    margin-bottom: 24px;
  }

  &__text {
    font-family: ProximaNova;
    font-size: 20px;
    line-height: 32px;
    color: #919299;
    margin-bottom: 40px;
  }

  &__btn {
    width: 194px;
    height: 58px;
    padding-left: 14px;
  }
  .icon-arrow {
    margin-left: 20px;
    font-size: 28px;
  }

  &__image {
    flex: 0 1 587px; //??
    margin-left: 75px;
    margin-right: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1150px) {
  .team {
    &__body {
      max-width: 450px;
      margin: 0px auto;
      padding-right: 10px;
    }
    &__title {
      font-size: 55px;
    }
    &__image {
      flex: 0 1 500px;
    }
  }
}

@media (max-width: 1023px) {
  .team {
    &__title {
      font-size: 48px;
      line-height: 150%;
    }
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__body {
      padding: 0 10px;
      margin: 0px auto;
    }
    &__text {
      text-align: justify;
      margin: 0 10px 42px;
    }

    &__btn {
      // margin: 0px auto;
      margin-bottom: 20px;
    }

    &__image {
      margin: 0 auto;

      margin-bottom: 30px;
    }
  }
  @media (max-width: 600px) {
    .team {
      &__title {
        font-size: 32px;
        line-height: 150%;
        text-align: center;
      }
      &__image {
        flex: 0 1 300px;
      }
      &__btn {
        margin: 0px auto;
      }
    }
  }
}
